In [2]:
# Dependencies
import json
import matplotlib.pyplot as plt
import requests
from pprint import pprint
from scipy import stats
import pandas as pd
from sodapy import Socrata

import numpy as np
from IPython.display import display

In [3]:
# Specify URL
client = Socrata("data.cdc.gov", None)

# Make & store response
response = client.get("n8mc-b4w4", limit=10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [4]:
# Make DataFrame
response_df = pd.DataFrame.from_records(response)
response_df.head(5)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,case_positive_specimen,case_onset_interval
0,2021-01,AZ,04,MARICOPA,04013,50 to 64 years,Female,Black,Non-Hispanic/Latino,Missing,Missing,Probable Case,Missing,No,Missing,Missing,NaN,NaN
1,2022-08,TX,48,NA,NA,50 to 64 years,Male,Missing,Unknown,Missing,Missing,Laboratory-confirmed case,Missing,Unknown,Missing,No,NaN,NaN
2,2022-02,CA,06,SAN DIEGO,06073,50 to 64 years,Male,White,Hispanic/Latino,Missing,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN,NaN
3,2021-12,IL,17,COOK,17031,0 - 17 years,Male,NA,NA,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,0,0
4,2022-01,AZ,04,MARICOPA,04013,0 - 17 years,Female,NA,NA,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN,0

In [5]:
# Create variable
case_count_by_state = response_df["res_state"].groupby(response_df["res_state"]).count()

In [6]:
# Sanity check
total_cases = case_count_by_state.sum()
total_cases

10

In [7]:
# Total unique states
total_states = case_count_by_state.nunique()
total_states

3

In [8]:
# Create Df showing cases in each state
case_count_by_state_df = pd.DataFrame({
    "Case Count": case_count_by_state    
})
case_count_by_state_df

           Case Count
res_state
AZ                  2
CA                  3
FL                  1
IL                  2
NC                  1
TX                  1

In [9]:
# Create variable to hold cases by month per state
cases_count_by_state_month = response_df[["res_state","case_month"]].value_counts().sort_index()
cases_count_by_state_month

res_state  case_month
AZ         2021-01       1
           2022-01       1
CA         2021-02       1
           2022-02       2
FL         2020-07       1
IL         2021-12       2
NC         2021-11       1
TX         2022-08       1
dtype: int64

In [10]:
# Create Df showing cases in each state by month
cases_count_by_state_month_df = pd.DataFrame({
    "Cases by month": cases_count_by_state_month
})
cases_count_by_state_month_df.head(5)

                      Cases by month
res_state case_month
AZ        2021-01                  1
          2022-01                  1
CA        2021-02                  1
          2022-02                  2
FL        2020-07                  1

In [16]:
#read moderna and pfizer data
moderna_df = pd.read_csv(r"C:\Users\cnr2231\git\Project_2\Project_2\Resources\cdc-moderna-covid-19-vaccine-distribution-by-state.csv")
pfizer_df = pd.read_csv(r"C:\Users\cnr2231\git\Project_2\Project_2\Resources\cdc-pfizer-covid-19-vaccine-distribution-by-state.csv")


#Clean data
#convert dates if necessary


print("Number of Unique Jurisdiction :",moderna_df['jurisdiction'].nunique())

display(moderna_df)
display(pfizer_df)

Number of Unique Jurisdiction : 63

,jurisdiction,week_of_allocations,_1st_dose_allocations,_2nd_dose_allocations
0,Connecticut,2021-06-21T00:00:00.000,41220,41220
1,Maine,2021-06-21T00:00:00.000,15800,15800
2,Massachusetts,2021-06-21T00:00:00.000,79500,79500
3,New Hampshire,2021-06-21T00:00:00.000,15800,15800
4,Rhode Island,2021-06-21T00:00:00.000,12480,12480
...,...,...,...,...
995,Hawaii,2021-03-08T00:00:00.000,14200,14200
996,Nevada,2021-03-08T00:00:00.000,28500,28500
997,American Samoa,2021-03-08T00:00:00.000,0,0
998,Guam,2021-03-08T00:00:00.000,0,0
999,Marshall Islands,2021-03-08T00:00:00.000,0,0

,jurisdiction,week_of_allocations,_1st_dose_allocations,_2nd_dose_allocations
0,Connecticut,2021-06-21T00:00:00.000,54360,54360
1,Maine,2021-06-21T00:00:00.000,21420,21420
2,Massachusetts,2021-06-21T00:00:00.000,104580,104580
3,New Hampshire,2021-06-21T00:00:00.000,21420,21420
4,Rhode Island,2021-06-21T00:00:00.000,17280,17280
...,...,...,...,...
995,Hawaii,2021-03-08T00:00:00.000,18720,18720
996,Nevada,2021-03-08T00:00:00.000,36270,36270
997,American Samoa,2021-03-08T00:00:00.000,0,0
998,Guam,2021-03-08T00:00:00.000,0,0
999,Marshall Islands,2021-03-08T00:00:00.000,0,0